* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

:root {
  /* Colors */
  --white: #ffffff;
  --background-image: url(/src/images/background.png);
  --trans-black: rgba(45, 45, 45, 0.5);
  --gray: #d6d6d6;
  --dark-gray: #2a2525;
}

@media (max-width: 500px) {
  body {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(99, 0, 90, 1) 35%,
      rgba(0, 0, 0, 1) 100%
    );
    background-attachment: fixed;
  }
  .background {
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(99, 0, 90, 1) 35%,
      rgba(0, 0, 0, 1) 100%
    );
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 40%;
    margin: 1rem;
  }
  .logoName {
    font-size: 8vw;
    font-family: "audiowide", sans-serif;
  }

  /* Morten */
  /* onboarding login */
  .login-section {
    color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .button-container {
    display: flex;
    flex-direction: column;
  }
  .input-login {
    width: 80%;
    font-size: 1.2rem;
    padding: 0.8rem;
    margin-top: 4%;
    background-color: var(--trans-black);
    border: none;
    border-radius: 10px;
    color: var(--white);
  }
  .input-login::placeholder {
    color: var(--gray);
  }
  .input-container {
    display: flex;
    font-size: 0.8rem;
    width: 80%;
  }
  .input-container a {
    color: var(--white);
    text-decoration: underline;
  }
  .login-button {
    background-color: var(--dark-gray);
    border: none;
    border-radius: 10px;
    color: var(--white);
  }
  .sign-in-button {
    padding: 15px 10px;
    margin-top: 5vh;
    font-size: 1.2rem;
  }
  .create-button {
    padding: 5px 25px;
    margin: 10px;
  }
  .continue-button {
    padding: 10px 10px;
    margin-top: 5vh;
  }
  .logo-margin {
    margin-bottom: 15vh;
  }
  .navigate-button-container {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-bottom: 1rem;
  }
  .logo-create-margin {
    margin-bottom: 10vh;
  }
  .navigate-button {
    padding: 8px;
    margin-top: 5vh;
    font-size: 1.2rem;
  }
  .placeholder-bar {
    border-radius: 20px;
    background-color: var(--gray);
    color: var(--dark-gray);
    width: 90vw;
    padding: 3px;
  }
  .image-upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-placeholder {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
  }

  .profile-image {
    width: 75%;

    object-fit: cover;
  }

  .placeholder-text {
    color: var(--white);
  }
  .radio-container {
    width: 80%;
  }
  .checkbox-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  .check-style {
    width: 20px;
    height: 20px;
    background-color: var(--trans-black);
  }
  input[type="checkbox"]:checked {
    accent-color: var(--gray);
  }
  input[type="checkbox"]::before {
    background-color: var(--trans-black);
  }
  .locked-section {
    overflow-x: hidden;
  }
  .bubble-drag-container {
    overflow: scroll;
    width: 90vw;
    height: 50vh;

    padding: 10px;
  }
  .bubble-container {
    width: 660px;
    display: flex;
    flex-wrap: wrap;

    cursor: grab;

    margin: 0 auto;
  }

  .bubble-container:active {
    cursor: grabbing;
  }

  .bubble {
    width: 100px;
    height: 100px;
    background: radial-gradient(
        circle at 10% 20%,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0) 60%
      ),
      radial-gradient(
        circle at 40% 60%,
        rgba(255, 0, 150, 0.3) 0%,
        rgba(255, 0, 150, 0) 50%
      ),
      radial-gradient(
        circle at 70% 40%,
        rgba(0, 255, 255, 0.3) 0%,
        rgba(0, 255, 255, 0) 50%
      ),
      radial-gradient(
        circle at 30% 80%,
        rgba(255, 255, 0, 0.2) 0%,
        rgba(255, 255, 0, 0) 50%
      ),
      radial-gradient(
        circle at 80% 10%,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0) 50%
      );
    background-size: 100px 100px; /* Size of the bubbles */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    scrollbar-color: 0%;
  }
  .bubble:first-child {
    margin-left: 70px;
  }
  .bubble:nth-child(11n) {
    margin-left: 55px;
  }

  /*removes scrollbar for chrome */
  ::-webkit-scrollbar {
    display: none;
  }
  .bubble.selected {
    background-size: 125px 125px;
    width: 125px;
    height: 125px;
    margin: 0;
  }

  .progress-bar {
    width: 90%;
    height: 10px;
    background-color: var(--trans-black);
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .progress {
    height: 100%;
    background-color: var(--gray);
    border-radius: 5px;
    transition: width 0.3s ease;
  }

  .checkbox-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  .check-style {
    width: 20px;
    height: 20px;
    background-color: var(--trans-black);
  }
  input[type="checkbox"]:checked {
    accent-color: var(--gray);
  }
  input[type="checkbox"]::before {
    background-color: var(--trans-black);
  }
  .notification-section {
    color: var(--white);

    text-align: center;
  }
  .notification-div {
    display: flex;
  }
  .notification-profile-container {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 4vw;
  }

  .notification-icons {
    width: 30%;
    align-self: center;
  }

  .notification-profile-img {
    border-radius: 100%;
  }
  .notification-p-text {
    display: flex;
    align-items: center;
  }
  .notification-p-text p {
    padding: 15px 0;
    background-color: var(--trans-black);
    width: 70vw;
    border-radius: 15px;
  }
  .notification-header-margin {
    margin: 2rem;
  }
  /* Rune */
  /* navbar */
  .top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    color: white;
    position: relative;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 0.9375rem;
    font-size: 0.85rem;
    font-weight: 400;
  }

  .notifications {
    position: absolute;
    top: 1.25rem;
    right: 1.2rem;
  }
  .notifications a img {
    width: 1.25rem;
    height: 1.25rem;
  }
  .notification-dot {
    position: absolute;
    top: -0.3125rem;
    right: -0.2rem;
    height: 0.5rem;
    width: 0.5rem;
    background-color: red;
    border-radius: 50%;
  }

  /* Bottom nav */

  .Nav--bar--bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    padding-bottom: 0.25rem;
    height: 60px;
    bottom: 0;
    background: rgb(0, 0, 0);
    width: 100%;
  }

  .nav--item {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 0.875rem; /* 14px to rem */
  }

  .nav--item img {
    width: 1.5rem; /* Adjust icon size */
    height: 1.5rem;
  }
  .nav-button-flex {
    display: flex;
    flex-direction: column;
  }
  /* Home screen */

  /* William */

  /* Explore */
  .explore-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
  }

  .searchbar-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .search-input-container {
    position: relative;
    align-items: center;
    width: 100%;
  }

  .search-icon {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--white);
    pointer-events: none;
  }

  input {
    width: 100%;
    padding: 10px 40px;
    border-radius: 20px;
    border: 1px groove white;
    background: transparent;
    color: white;
  }

  .browse-container {
    width: 90%;
    margin-top: 1rem;
  }

  .browse-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .browse-item {
    padding: 1rem;
    border-bottom: 1px solid #555;
    cursor: pointer;
    color: white; /* Ensures text color is white */
    text-decoration: none; /* Removes underline */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Explore Artist */
  .explore-artists-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(99, 0, 90, 1) 35%,
      rgba(0, 0, 0, 1) 100%
    );
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
  }

  .explore-artists-container h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .explore-artists-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
  }
  .explore-artists-card {
    width: fit-content;
    justify-self: center;
    padding-bottom: 1.5rem;
  }

  .explore-artists-grid h3 {
    font-weight: 500;
    font-size: 0.8rem;
    justify-self: start;
    width: fit-content;
    margin-left: 0.2rem;
    color: var(--white);
  }

  .explore-artist-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  /* Explore Genres */
  .explore-genres-container {
    color: white;
    padding: 20px;
    height: 100vh;
  }

  .explore-genres-container h2 {
    padding-bottom: 1rem;
  }

  .genres-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .genre-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .genre-card.expanded {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .genre-image {
    width: 8rem;
    height: auto;
    border-radius: 8px;
  }

  .genre-card h3 {
    font-size: 1.25rem;
  }

  .genre-card p {
    margin: 5px 0;
    font-size: 0.9rem;
  }

  .show-subgenres {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
  }

  .subgenres-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .subgenres-container h2 {
    text-align: center;
    font-weight: 300;
  }

  .subgenres-container h2 {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }

  .subgenres-container p {
    font-size: 0.7rem;
  }

  .subgenres-list {
    padding-left: 20px;
    color: white;
    font-size: 0.9rem;
  }

  .subgenres-list li {
    margin-bottom: 1.5rem;
  }

  /* Explore Album */
  .explore-albums-container {
    color: white;
  }

  .explore-albums-container h2 {
    margin-bottom: 20px;
    text-align: left;
  }

  .explore-albums-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    justify-content: center;
  }

  .explore-album-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 2rem;
    color: var(--white);
    width: 100%;
  }

  .explore-albums-grid h3 {
    font-size: 0.7rem;
    font-weight: 700;
  }

  .explore-album-artist-text {
    font-size: 0.6rem;
    font-weight: 400;
    white-space: nowrap;
  }

  .explore-album-genre-text {
    font-size: 0.5rem;
    font-weight: 200;
    white-space: nowrap;
  }

  .explore-album-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 0.5rem;
  }

  /* Concerts landing page */
  .explore-concerts-container {
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .explore-concerts-container h1 {
    text-align: center;
  }

  .change-location {
    background: none;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    margin-bottom: 2rem;
    text-decoration: underline;
  }

  .concerts-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 100px;
  }

  .concert-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .concert-image {
    width: 10rem;
    border-radius: 10px;
    object-fit: cover;
  }

  .concert-info {
    display: flex;
    height: 13rem;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .concert-info h3 {
    margin: 0;
    font-size: 1.25rem;
  }

  .tour-name,
  .concert-dates,
  .concert-location {
    margin: 5px 0;
    font-size: 0.9rem;
  }

  .see-tour-button {
    margin-top: 2rem;
    margin-left: auto;
    padding: 12px 12px;
    background-color: #2a2525;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 50%;
    text-decoration: none;
    text-align: center;
  }

  /* Genres */
  .genres-container {
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .genres-container h1 {
    font-size: 2rem;
    margin: 10px 0;
    text-align: center;
  }

  .genres-container p {
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: left;
  }

  .read-more {
    background: none;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }

  .genres-container h2 {
    margin-top: 20px;
    font-size: 1.5rem;
    margin-top: 4rem;
  }

  .popular-artists,
  .top-rated-albums {
    display: flex;
    justify-content: space-between;
  }

  .popular-artists-card {
    display: flex;
    flex-direction: column;
  }

  .popular-artists-card img,
  .top-rated-albums-card img {
    width: 6rem;
    border-radius: 10px;
    object-fit: cover;
  }

  .popular-artists-card h3 {
    font-size: 0.7rem;
    text-align: left;
    margin-left: 0.3rem;
  }

  .top-rated-albums-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .top-rated-albums-card h3 {
    font-size: 0.6rem;
  }

  .top-rated-albums-card p {
    font-size: 0.6rem;
  }

  .see-more-albums,
  .see-more-artists {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 1rem;
  }

  /* Reviews */
  .reviews-container {
    padding: 20px;
    color: white;
  }

  .reviews-container h1 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .review-card {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    text-align: left;
  }

  .review-card.expanded .review-likes {
    margin-top: 0.5rem;
  }

  .rating-stars {
    margin-top: 0.5rem;
  }

  .review-rating h3 {
    color: var(--white);
  }

  .review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .review-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .review-profile-image {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
  }

  .review-profile-name {
    font-size: 0.7rem;
  }

  .star {
    color: gray;
  }

  .star.gold {
    color: gold;
  }

  .main-review {
    display: inline-block;
  }

  .review-album {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    float: left;
    width: 40%;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  .review-album-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .review-album-title {
    font-size: 1rem;
    margin: 0;
  }

  .review-album-year {
    font-size: 0.8rem;
  }

  .review-artist-name {
    font-size: 1rem;
  }

  .review-genres {
    font-size: 0.8rem;
    margin-top: 1rem;
    font-weight: 600;
  }

  .main-review-text {
    margin-top: 2rem;
  }

  .review-album-image {
    width: 10rem;
    object-fit: cover;
    margin-bottom: 0.7rem;
    margin-top: 2rem;
  }

  .full-review-button-container {
    display: flex;
    justify-content: flex-end;
  }

  .full-review-button {
    background-color: transparent;
    color: white;
    border: none;
    margin-top: 0.7rem;
    text-decoration: underline;
  }

  .review-likes {
    text-align: right;
  }

  /* Activity */
  .activity-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 1rem;
  }

  .activity-page h1 {
    color: var(--white);
    font-size: 1.5rem;
  }

  .activity-tabs {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .activity-tab {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
  }

  .activity-tab.active {
    text-decoration: underline;
  }

  .activity-feed {
    padding: 1rem;
    overflow-y: auto;
    flex-grow: 1;
    color: var(--white);
    font-size: 0.8rem;
  }

  .activity-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }

  .activity-item p {
    width: fit-content;
    line-height: 1.5;
  }

  .profile-pic {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
  }

  .profile-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .activity-content {
    flex-grow: 1;
  }

  .activity-review {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }

  .activity-review p {
    font-size: 0.7rem;
  }

  .album-cover {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }

  .activity-text-and-stars {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .activity-rating-stars {
    font-size: 0.8rem;
  }

  /* Artilon */

  /* Concert */

  .top-sang-container {
    color: white;
    padding: 16px;
    min-height: 100vh;
  }

  .concert-header-section {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    margin-bottom: 24px;
  }

  .concert-cover {
    width: 140px;
    height: 140px;
    border-radius: 8px;
  }

  .concert-details {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .concert-title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
  }

  .concert-data {
    color: #b3b3b3;
    font-size: 16px;
    margin: 0;
  }

  .concert-location {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: #b3b3b3;
  }

  .concert-flag {
    width: 30px;
    height: 20px;
    border-radius: 4px;
  }

  .concert-date-button {
    color: #ffffff;
    font-size: 14px;
    padding: 8px 16px;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    margin-top: 16px;
  }

  .setlist-section {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .sangcovers {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    object-fit: cover;
  }

  .setlist-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .setlist-box {
    display: flex;
    justify-content: flex-start;
    width: 90vw;
    align-items: center;
    padding: 8px 0;
    color: #ffffff;
  }

  .setlist-song {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: flex-start;
  }

  .setlist-song-info {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
  }

  .sanger-navn {
    color: red;
    font-size: 0.8rem;
    margin: 0;
  }
  .setlist-song-title {
    font-size: 14px;
    margin: 0;
    margin-bottom: 4px;
  }

  .setlist-song-data {
    font-size: 14px;
    color: #b3b3b3;
    margin: 0;
  }

  .setlist-rating {
    font-size: 14px;
    color: #b3b3b3;
    margin: 0;
    margin-left: auto;
  }

  .see-full-list {
    display: block;
    margin: 16px;
    color: #b3b3b3;
    text-decoration: none;
    font-size: 14px;
  }

  .warmup-section {
    margin-top: 32px;
  }

  .warmup-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .warmup-box {
    display: flex;
    gap: 16px;
  }

  .warmup-album {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
  }

  .warmup-cover {
    width: 100px;
    height: 100px;
    border-radius: 8px;
  }

  .warmup-name {
    font-size: 14px;
    color: #ffffff;
    margin-top: 8px;
    text-align: center;
  }

  .tourdates-section {
    margin-top: 32px;
  }

  .tourdates-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .tourdates-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 100px;
  }

  .tourdate-box {
    background-color: #2e2e2e;
    border-radius: 8px;
    padding: 16px;
    color: white;
  }

  .tourdate {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
  }

  .tourlocation {
    font-size: 14px;
    color: #b3b3b3;
    margin: 0;
  }

  /* Profile */

  /* profil sektionen */
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff;
  }

  .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .profile-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .profile-name {
    margin-top: 10px;
    margin-bottom: 8px;
  }

  .followme-button {
    padding: 10px 50px;
    background-color: #2a2525;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
  }

  .followme-button h1 {
    color: white;
  }

  .followingsection {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 10px 0;
  }

  .followers,
  .following {
    font-size: 14px;
  }

  .followers {
    font-size: 1rem;
    text-align: left;
  }

  .following {
    font-size: 1rem;
    text-align: right;
  }

  /* artist sektion */

  .favorit-sektion-artist {
    margin: 20px 0;
    padding: 0 20px;
  }

  .favorit-sektion-artist h2 {
    color: white;
    text-align: left;

    margin-bottom: 16px;
  }

  .favorit-songs {
    color: white;

    margin-left: 30px;
  }

  .artist-favorit {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 8px;
  }

  .artist-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 75px;
  }

  .artist-card p {
    margin-top: 8px;
    color: white;
    text-align: center;
  }

  .artist-image {
    width: 75px;
    height: 75px;
    border-radius: 9px;
    object-fit: cover;
  }

  /*sange sektion */

  .favorit-sange-sektion {
    width: 90vw;
    margin: auto;
  }

  .favorit-songs {
    color: white;

    margin-bottom: 16px;

    margin-left: 0;
  }

  .sange-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .sange-card {
    margin-bottom: 16px;
  }

  .sang-content {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 12px;
  }

  .song-info {
    display: flex;
    flex-direction: column;
  }

  .song-title {
    color: white;
    margin: 0;
  }

  .sangnavn {
    color: white;
  }

  .singer-name {
    color: #9ca3af;
    font-size: 0.8rem;
  }

  .sang-image {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 4px;
  }

  .song-details {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    width: 100%;
  }

  .timestamp {
    color: #9ca3af;
    font-size: 14px;
    margin: 2px 0;
  }

  .song-details p {
    margin: 2px 0;
    font-size: 14px;
  }

  /*album sektion */

  .favorit-albums {
    margin: 32px 0;
    padding: 0 20px;
  }

  .favorit-albums-title {
    margin-bottom: 20px;
    color: white;
    margin-left: 0;
  }

  .album-list {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 8px;
  }

  .album-item {
    flex-shrink: 0;
    text-align: center;
  }

  .album-list li {
    font-size: 16px;
    color: #fff;
  }

  .album-image {
    height: 160px;
    width: 160px;
    border-radius: 20px;
    object-fit: cover;
  }

  .albumnavn {
    color: white;
    margin-top: 8px;
    font-size: 14px;
  }

  .album-label,
  .release-date,
  .album-rating {
    color: #9ca3af;
    display: inline;
    font-size: 10px;
  }
  .album-details {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
  }

  /* review sektion */

  .reviews-sektion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }

  .reviews-sektion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin-bottom: 2vh;
  }

  .reviews-sektion button {
    padding: 12px 16px;
    background-color: #2a2525;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 10px;
  }

  .review-box {
    background-color: #2a2525;
    padding: 16px;
    border-radius: 12px;
    max-width: 450px;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 250px;
  }

  .review-box h4 {
    margin: 0 0 8px 0;
    font-size: 16px;
  }

  .review-box p {
    margin: 0 0 8px 0;
    font-size: 14px;
    color: #9ca3af;
  }

  .review-box div {
    font-size: 14px;
    color: #9ca3af;
  }

  .review-header {
    display: flex;
    align-items: center;

    gap: 12px;
  }

  .reviewer-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .review-box h4 {
    margin: 0;
    font-size: 16px;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .review-box p {
    color: var(--gray);
  }

  .review-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .review-rating {
    color: #9ca3af;
    margin-top: 8px;
    margin: 2px 0;
  }

  .heart-reply {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .heart-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: red;
  }

  .reply-thread {
    font-size: 14px;
    color: #9ca3af;
    cursor: pointer;
    text-decoration: underline;
  }

  .reply-thread:hover {
    color: #ffffff;
  }
  /* Album * - Artilon */

  /* Album Display Section */

  .full-album-section {
    height: 100vh;
  }

  .full-album-header {
    display: flex;
    gap: 1.5rem;
  }

  .full-album-header img {
    width: 50%;
  }

  .full-album-header-info {
    width: 100%;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    color: var(--white);
    font-size: 0.7rem;
  }

  .full-album-header-title {
    color: var(--gray);
    font-size: 0.7rem;
    font-weight: 600;
  }

  .full-album-header-description {
    font-size: 0.8rem;
  }

  /* Songs Section */
  .album-songs-section-album {
    margin-bottom: 32px;
  }

  .album-songs-title-album {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  .album-songs-list-album {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .album-song-row-album {
    display: flex;
    align-items: center;
    padding: 8px 0;
    gap: 12px;
  }

  .album-song-cover-album {
    width: 70px;
    height: 70px;
    border-radius: 4px;
  }

  .album-song-info-text-album {
    flex-grow: 1;
  }

  .album-song-title-album {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: #ffffff;
  }

  .album-singer-name-album {
    font-size: 15px;
    color: #71767b;
    margin: 2px 0 0 0;
  }

  .album-song-details-info-album {
    text-align: right;
  }

  .album-timestamp-album {
    font-size: 14px;
    color: #71767b;
    margin-bottom: 40px;
  }

  .album-review-rating-album {
    font-size: 14px;
    color: #71767b;
  }

  /* Reviews Section */
  .album-reviews-section-album {
    padding-top: 16px;
  }

  .album-reviews-title-album {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .album-review-controls-album {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    font-size: 15px;
    color: #71767b;
  }

  .album-review-box-album {
    background-color: #1a1a1a;
    border-radius: 15px;
    padding: 16px;
    max-width: 450px;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .album-review-header-album {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
  }

  .album-reviewer-pic-album {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .album-reviewer-name-album {
    font-size: 20px;
    font-weight: 500;
    margin: 2px 0;
  }

  .album-review-date-album {
    color: #9ca3af;
    margin-top: 8px;
    margin: 2px 0;
  }

  .album-heart-button-album {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: red;
  }

  .album-heart-reply-album {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .album-reply-thread-album {
    font-size: 14px;
    color: #9ca3af;
    cursor: pointer;
    text-decoration: underline;
  }
  .album-reply-thread-album:hover {
    color: #ffffff;
  }
}

/* ArtistProfile */
/* ArtistProfile - Rune */
.artist-profile-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.artist-profile-header {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}

.artist-profile-img {
  width: 40%;
  height: 40%;
  border-radius: 50%;
  margin-right: 0.7rem;
}

.artist-profile-name {
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}

.artist-profile-bio,
.artist-profile-genres {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.artist-profile-title {
  color: var(--gray);
  font-size: 0.7rem;
  font-weight: 600;
}

.artist-profile-top-songs {
  padding: 20px;
  color: white;
}

.artist-profile-section-title {
  font-size: 1.5rem;
  color: white;
  padding-left: 1.3rem;
}

.artist-profile-song {
  display: flex;
  align-items: center;
  margin-bottom: 0.9rem;
}

.artist-profile-song-img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.artist-profile-song-info {
  flex-grow: 1;
}

.artist-profile-song-title {
  font-size: 1rem;
  font-weight: bold;
}

.artist-profile-song-artist {
  font-size: 0.9rem;
}

.artist-profile-song-meta {
  text-align: right;
}

.artist-profile-song-duration,
.artist-profile-song-rating {
  font-size: 0.9rem;
}

.artist-profile-top-albums {
  margin: 20px 0;
  padding: 20px;
  border-radius: 10px;
  color: white;
  display: flex;
}

.artist-profile-album {
  margin-bottom: 20px;
  width: 50%;
}

.artist-profile-album-img {
  width: 80%;
  height: auto;
  margin-right: 20px;
}

.artist-profile-album-info {
  flex-grow: 1;
}

.artist-profile-album-title {
  font-size: 16px;
  font-weight: bold;
}

.artist-profile-album-year,
.artist-profile-album-rating {
  font-size: 14px;
  margin-top: 5px;
}

/* BandProfile */
/* Charts - Rune */
.albums-list-container {
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

.albums-list-container h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}

.albums-navigation {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.albums-navigation span {
  font-size: 1rem;
  cursor: pointer;
  color: #bbb;
}

/* .albums-navigation .active {
    color: white;
    font-weight: bold;
    border-bottom: 2px solid white;
  } */

.sort-by {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #bbb;
  margin-bottom: 20px;
}

.sort-by p {
  margin-right: 5px;
}

.sort-icon {
  font-size: 1rem;
  cursor: pointer;
}

.album-entry {
  display: flex;
  align-items: center;
  background-color: #222;
  border-radius: 10px;
  padding: 0.3rem 0.7rem;
  margin-bottom: 20px;
}

.album-rank {
  font-size: 0.9rem;
  font-weight: 400;
  margin-right: 15px;
  color: #bbb;
}

.album-entry img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 15px;
}

.album-info {
  flex-grow: 1;
}

.album-info h3 {
  font-size: 1rem;
  color: white;
}
.album-info h4 {
  color: white;
  font-size: 0.6rem;
  font-weight: 400;
}

.album-info p {
  font-size: 0.9rem;
  color: #bbb;
  margin: 3px 0;
}

/* ChartsFilter */
/* Concerts */
/* ConcertsLandingPage */
/* ConcertsTourDates */
/* LoginScreen */
/* Create Account 1 */
/* Create Account 2 */
/* Create Account 3 */
/* Reviews  */

/* Full Review */
/* HomeScreen - rune */
.recommendations-container {
  color: white;
  padding: 5px;
  font-family: Arial, sans-serif;
}

.recommendations-container section {
  margin-bottom: 1rem;
}

.recommendations-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.home-recommended-section {
  overflow-x: auto;
  white-space: nowrap;
}

.homepage-albums-slider {
  display: flex;
  gap: 20px;
}

.homepage-albums-card {
  flex: 0 0 auto;
  width: 33.3%;
  scroll-snap-align: center;
}

.album-card {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  overflow-x: hidden;
  height: 100%;
}

.album-card img {
  width: 100%;
  border-radius: 10px;
}

.album-info {
  margin-top: 0px;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.album-info p {
  font-size: 0.7rem;
  color: #bbb;
}

.album-info h3 {
  font-size: 0.8rem;
  color: white;
}

.rating {
  display: flex;
  margin-top: 5px;
  align-items: end;
  width: 100%;
}

.rating button {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: underline;
}

/* Notifications */
/* Song - Artilon */

/* Song Display Section */
.song-container-new {
  color: white;
  padding: 16px;
  min-height: 100vh;
}

.song-header-section-new {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 32px;
}

.song-cover-new {
  width: 200px;
  height: 200px;
  border-radius: 12px;
  margin-top: 50px;
  margin-left: 35px;
}

.song-details-new {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 50px;
}

.song-title-new {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.song-meta-new {
  color: #71767b;
  font-size: 16px;
  margin: 0;
}

.song-artist-new {
  color: #71767b;
  font-size: 16px;
  margin: 0;
}

.song-rating-new {
  color: #71767b;
  font-size: 14px;
  margin: 0;
}

.music-icons-new {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.icon-new {
  width: 55px;
  height: 55px;
  border-radius: 4px;
}

/* Lyrics Section */
.lyrics-section-new {
  margin-top: 32px;
}

.lyrics-title-new {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.lyrics-box-new {
  padding: 16px;
  border-radius: 8px;
  background-color: #2e2e2e;
  margin-bottom: 50px;
}

.lyrics-text-new {
  font-size: 16px;
  line-height: 1.6;
  color: #ffffff;
  margin: 0;
}

.see-all-lyrics-new {
  display: block;
  margin-top: 16px;
  text-decoration: none;
  font-size: 14px;
  background: none;
  border: none;
  color: #71767b;
}

/* Reviews Section */
.reviews-section-new {
  display: flex;
  flex-direction: column;
  background-color: #2e2e2e;
  border-radius: 8px;
  margin-bottom: 100px;
}

.reviews-title-new {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
  color: white;
}

.review-controls-new {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #71767b;
}

.review-rating-display-new {
  margin-top: 10px;
  text-align: right;
}

.review-rating-new {
  font-weight: bold;
  font-size: 11px;
  color: #71767b;
}

.sort-by-new,
.sort-option-new {
  font-size: 14px;
  color: #71767b;
}

.review-list-new {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.review-box-new {
  padding: 16px;
  border-radius: 8px;
  margin: 0 20px;
}

.review-header-new {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 8px;
  width: 100%;
}

.reviewer-pic-new {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.name-rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.reviewer-name-new {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: white;
}

.review-date-new {
  font-size: 12px;
  color: #71767b;
}

.review-content-new {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 15px;
}

.heart-reply-new {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
}

.heart-button-new {
  background: none;
  border: none;
  padding: 0;
  color: #71767b;
  font-size: 18px;
  align-items: center;
  gap: 4px;
}

.reply-thread-new {
  color: #71767b;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

.reply-thread-new:hover {
  color: #ffffff;
}
