* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

:root {
  /* Colors */
  --white: #ffffff;
  --background-image: url(/src/images/background.png);
  --trans-black: rgba(45, 45, 45, 0.5);
  --gray: #d6d6d6;
  --dark-gray: #2a2525;
}

@media (max-width: 500px) {
  body {
    background: rgb(2, 0, 36);
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(99, 0, 90, 1) 35%,
      rgba(0, 0, 0, 1) 100%
    );
    background-attachment: fixed;
  }
  .background {
    background: rgb(2, 0, 36);
    background: radial-gradient(
      circle,
      rgba(2, 0, 36, 1) 0%,
      rgba(99, 0, 90, 1) 35%,
      rgba(0, 0, 0, 1) 100%
    );
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 40%;
    margin: 1rem;
  }
  .logoName {
    font-size: 8vw;
    font-family: "audiowide", sans-serif;
  }

  /* Morten */
  /* onboarding login */
  .login-section {
    color: var(--white);
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .button-container {
    display: flex;
    flex-direction: column;
  }
  .input-login {
    width: 80%;
    font-size: 1.2rem;
    padding: 0.8rem;
    margin-top: 4%;
    background-color: var(--trans-black);
    border: none;
    border-radius: 10px;
    color: var(--white);
  }
  .input-login::placeholder {
    color: var(--gray);
  }
  .input-container {
    display: flex;
    font-size: 0.8rem;
    width: 80%;
  }
  .input-container a {
    color: var(--white);
    text-decoration: underline;
  }
  .login-button {
    background-color: var(--dark-gray);
    border: none;
    border-radius: 10px;
    color: var(--white);
  }
  .sign-in-button {
    padding: 15px 10px;
    margin-top: 5vh;
    font-size: 1.2rem;
  }
  .create-button {
    padding: 5px 25px;
    margin: 10px;
  }
  .continue-button {
    padding: 10px 10px;
    margin-top: 5vh;
  }
  .logo-margin {
    margin-bottom: 15vh;
  }
  .navigate-button-container {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin-bottom: 1rem;
  }
  .logo-create-margin {
    margin-bottom: 10vh;
  }
  .navigate-button {
    padding: 8px;
    margin-top: 5vh;
    font-size: 1.2rem;
  }
  .placeholder-bar {
    border-radius: 20px;
    background-color: var(--gray);
    color: var(--dark-gray);
    width: 90vw;
    padding: 3px;
  }
  .image-upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image-placeholder {
    width: 200px; /* Adjust the size as needed */
    height: 200px;
    border-radius: 50%; /* Makes the image round */
    border: 2px solid var(--gray); /* Placeholder style */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensures any overflow is hidden */
    cursor: pointer; /* Indicates the user can click */
  }

  .profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire area */
  }

  .placeholder-text {
    color: var(--white); /* Placeholder text color */
  }
  .radio-container {
    width: 80%;
  }
  .checkbox-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
  }
  .check-style {
    width: 20px;
    height: 20px;
    background-color: var(--trans-black);
  }
  input[type="checkbox"]:checked {
    accent-color: var(--gray);
  }
  input[type="checkbox"]::before {
    background-color: var(--trans-black);
  }
  /* Rune */
  /* navbar */
  .top-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    color: white;
    position: relative;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 0.9375rem;
    font-size: 0.85rem;
    font-weight: 400;
  }

  .notifications {
    position: absolute;
    top: 1.25rem;
    right: 1.2rem;
  }
  .notifications a img {
    width: 1.25rem;
    height: 1.25rem;
  }
  .notification-dot {
    position: absolute;
    top: -0.3125rem;
    right: -0.2rem;
    height: 0.5rem;
    width: 0.5rem;
    background-color: red;
    border-radius: 50%;
  }

  /* Bottom nav */

  .Nav--bar--bottom {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    padding-bottom: 0.25rem;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(
      360deg,
      rgba(0, 0, 0, 1) 87%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 100%;
  }

  .nav--item {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 0.875rem; /* 14px to rem */
  }

  .nav--item img {
    width: 1.5rem; /* Adjust icon size */
    height: 1.5rem;
  }
  .nav-button-flex {
    display: flex;
    flex-direction: column;
  }
  /* Home screen */

  /* William */

  /* Explore */
  .explore-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
  }

  .searchbar-container {
    width: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .search-input-container {
    position: relative;
    align-items: center; /* Center the icon and input */
    width: 100%; /* Adjust as needed */
  }

  .search-icon {
    position: absolute; /* Position the icon within the input */
    left: 1rem; /* Adjust this value as needed */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Center the icon */
    color: var(--white); /* Icon color */
    pointer-events: none; /* Prevent clicks on the icon */
  }

  input {
    width: 100%;
    padding: 10px 40px;
    border-radius: 20px;
    border: 1px groove white;
    background: transparent;
    color: white;
  }

  .browse-container {
    width: 90%;
    margin-top: 1rem;
  }

  .browse-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .browse-item {
    padding: 1rem;
    border-bottom: 1px solid #555;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Explore Artist */
  .artist-explore-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(99, 0, 90, 1) 35%,
      rgba(0, 0, 0, 1) 100%
    );
    color: white;
    font-family: Arial, sans-serif;
    height: 100vh;
  }

  .artist-explore-container h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .artists-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }

  .artist-card {
    width: fit-content;
    justify-self: center;
    padding-bottom: 1.5rem;
  }

  .artists-grid h3 {
    font-weight: 500;
    font-size: 0.6rem;
    justify-self: start;
    width: fit-content;
  }

  .artist-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  /* Explore Genres */
  .explore-genres-container {
    color: white;
    padding: 20px;
    height: 100vh;
  }

  .explore-genres-container h2 {
    padding-bottom: 1rem;
  }

  .genres-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .genre-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .genre-image {
    width: 8rem;
    height: auto;
    border-radius: 8px;
  }

  .genre-card h3 {
    font-size: 1.25rem;
  }

  .genre-card p {
    margin: 5px 0;
    font-size: 0.9rem;
  }

  .show-subgenres {
    background: transparent;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin-top: 10px;
  }

  .subgenres-container {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px; /* Rounded corners */
    padding: 10px; /* Padding around the list */
    margin-top: 10px; /* Space between the genre card and the subgenres box */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack subgenres vertically */
  }

  .subgenres-list {
    margin-top: 10px;
    padding-left: 20px;
    color: white;
    font-size: 0.9rem;
  }

  .subgenres-list li {
    margin-bottom: 5px;
  }

  /* Explore Subgenres */

  /* Genres */

  /* Explore Album */

  /* Explore Song */

  /* Explore Concerts */

  /* Artilon */

  /* Profile */

  /* profil sektionen */
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff;
  }

  .profile-header {
    text-align: center;
    margin-bottom: 20px;
  }

  .profile-image {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  .profile-name {
    margin-top: 10px;
    font-size: 45px;
    margin-bottom: 8px;
  }

  .followme-button {
    padding: 10px 50px;
    background-color: #2a2525;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
  }

  .followme-button h1 {
    color: white;
  }

  .followingsection {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin: 10px 0;
  }

  .followers,
  .following {
    font-size: 14px;
  }

  .followers {
    font-size: 20px;
    text-align: left;
  }

  .following {
    font-size: 20px;
    text-align: right;
  }

  /* artist sektion */

  .favorit-sektion-artist {
    margin: 20px 0;
    padding: 0 20px;
  }

  .favorit-sektion-artist h2 {
    color: white;
    text-align: left;
    font-size: 30px;
    margin-bottom: 16px;
  }

  .favorit-songs {
    color: white;
    font-size: 30px;
    margin-left: 30px;
  }

  .artist-favorit {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 8px;
  }

  .artist-card {
    flex-shrink: 0;
    text-align: center;
    color: white;
  }

  .artist-card p {
    font-size: 15px;
    margin-top: 8px;
    color: white;
  }

  .artist-image {
    width: 100px;
    height: 100px;
    border-radius: 9px;
    object-fit: cover;
  }

  /*sange sektion */

  .favorit-sange-sektion {
    margin: 32px 0;
    padding: 0 20px;
  }

  .favorit-songs {
    color: white;
    font-size: 20px;
    margin-bottom: 16px;
    font-size: 30px;
    margin-left: 0;
  }

  .sange-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .sange-card {
    margin-bottom: 16px;
  }

  .sang-content {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  .song-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
  }

  .song-title {
    color: white;
    margin: 0;
    font-size: 20px;
  }

  .sangnavn {
    color: white;
  }

  .singer-name {
    color: #9ca3af;
  }

  .sang-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
  }

  .song-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px;

    align-items: flex-start;
    color: white;
  }

  .timestamp {
    color: #9ca3af;
    font-size: 14px;
    margin: 2px 0;
  }

  .song-details p {
    margin: 2px 0;
    font-size: 14px;
  }

  /*album sektion */

  .favorit-albums {
    margin: 32px 0;
    padding: 0 20px;
  }

  .favorit-albums-title {
    font-size: 30px;
    margin-bottom: 20px;
    color: white;
    margin-left: 0;
  }

  .album-list {
    display: flex;
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 8px;
  }

  .album-item {
    flex-shrink: 0;
    text-align: center;
  }

  .album-list li {
    font-size: 16px;
    color: #fff;
  }

  .album-image {
    height: 160px;
    width: 160px;
    border-radius: 20px;
    object-fit: cover;
  }

  .albumnavn {
    color: white;
    margin-top: 8px;
    font-size: 14px;
  }

  .album-label,
  .release-date,
  .album-rating {
    color: #9ca3af;
    display: inline;
    font-size: 10px;
  }
  .album-details {
    display: flex;
    gap: 15px;
    margin-top: 5px;
  }

  /* review sektion */

  .reviews-sektion {
    margin: 32px 0;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: center;
  }

  .reviews-sektion {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    margin: 32px 0;
    padding: 0 20;
  }

  .reviews-sektion button {
    padding: 12px 16px;
    background-color: #2a2525;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 10px;
  }

  .review-box {
    background-color: #2a2525;
    padding: 16px;
    border-radius: 12px;
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 250px;
  }

  .review-box h4 {
    margin: 0 0 8px 0;
    font-size: 16px;
  }

  .review-box p {
    margin: 0 0 8px 0;
    font-size: 14px;
    color: #9ca3af;
  }

  .review-box div {
    font-size: 14px;
    color: #9ca3af;
  }

  .review-header {
    display: flex;
    align-items: center;

    gap: 12px;
  }

  .reviewer-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .review-box h4 {
    margin: 0;
    font-size: 16px;
    color: white;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .review-box p {
    font-size: 14px;
    color: #9ca3af;
  }

  .review-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .review-rating {
    font-size: 14px;
    color: #9ca3af;
    margin-top: 8px;
    margin: 2px 0;
  }

  .heart-reply {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .heart-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: red;
  }

  .reply-thread {
    font-size: 14px;
    color: #9ca3af;
    cursor: pointer;
    text-decoration: underline;
  }

  .reply-thread:hover {
    color: #ffffff;
  }
  /* Album */
  /* ArtistProfile */
  /* BandProfile */
  /* Charts - Rune */
  .albums-list-container {
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
  }

  .albums-list-container h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .albums-navigation {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }

  .albums-navigation span {
    font-size: 1rem;
    cursor: pointer;
    color: #bbb;
  }

  /* .albums-navigation .active {
    color: white;
    font-weight: bold;
    border-bottom: 2px solid white;
  } */

  .sort-by {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #bbb;
    margin-bottom: 20px;
  }

  .sort-by p {
    margin-right: 5px;
  }

  .sort-icon {
    font-size: 1rem;
    cursor: pointer;
  }

  .album-entry {
    display: flex;
    align-items: center;
    background-color: #222;
    border-radius: 10px;
    padding: 0.3rem 0.7rem;
    margin-bottom: 20px;
  }

  .album-rank {
    font-size: 0.9rem;
    font-weight: 400;
    margin-right: 15px;
    color: #bbb;
  }

  .album-entry img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
  }

  .album-info {
    flex-grow: 1;
  }

  .album-info h3 {
    font-size: 1rem;
    color: white;
  }
  .album-info h4 {
    color: white;
    font-size: 0.6rem;
    font-weight: 400;
  }

  .album-info p {
    font-size: 0.9rem;
    color: #bbb;
    margin: 3px 0;
  }

  /* ChartsFilter */
  /* Concerts */
  /* ConcertsLandingPage */
  /* ConcertsTourDates */
  /* LoginScreen */
  /* Create Account 1 */
  /* Create Account 2 */
  /* Create Account 3 */
  /* Reviews */
  /* Full Review */
  /* HomeScreen - rune */
  .recommendations-container {
    color: white;
    padding: 5px;
    font-family: Arial, sans-serif;
  }

  .recommendations-container section {
    margin-bottom: 40px;
  }

  .recommendations-container h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .albums-grid {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
  }

  .album-card {
    width: 32%;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
  }

  .album-card img {
    width: 100%;
    border-radius: 10px;
  }

  .album-info {
    margin-top: 0px;
    text-align: left;
  }

  .album-info p {
    font-size: 0.7rem;
    color: #bbb;
  }

  .album-info h3 {
    font-size: 0.8rem;
    color: white;
  }

  .rating {
    margin-top: 5px;
  }

  .rating button {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Notifications */
  /* Song */
}
